PROTECTED_USER="youruser"
INTEGRATION_PROFILE="none"
ENABLE_LOCAL_HTTP_PROXY="yes"
INSTALL_PREFIX="/opt/irondome"
CLIPROXY_BIN="/opt/local-gateway/gateway"
CLIPROXY_WORKDIR="/opt/local-gateway"
CLIPROXY_AUTH_DIR="/var/lib/local-gateway/auth"
CLIPROXY_STORAGE_DIR="/var/lib/local-gateway"
ENABLE_STRICT="yes"
ENABLE_OPEN="yes"
ENABLE_GOOGLE_FORWARD="no"
ENABLE_BOOT_CLEANUP="yes"
INCLUDE_ROOT_WEB="yes"
TRANSPARENT_MTU="1200"
WINDOWS_PROXY_ENABLED="no"
WINDOWS_PROXY_BIND="0.0.0.0"
WINDOWS_PROXY_PORT="18119"
WINDOWS_PROXY_NET="192.168.98.0/24"
